==
<div class="container">
	<h1 class="text-center"><a href="#"><b>Expertise and Consulting</b></a></h1>
	<div class="row">
		<div class="col-sm">
			<div class="gallery-block grid-gallery">
    			{% content 'expertise-en' %}
    		</div>
		</div>
		<div class="col-sm">
			<div class="gallery-block grid-gallery">
			    <div class="row">
			        <div class="col-md-6 item">
			            <a class="lightbox" href="{{'about/about-02.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn " src="{{'about/about-02.jpg'|media}}" >
			            </a>
			        </div>
			        <div class="col-md-6 item">
			            <a class="lightbox" href="{{'about/about-01.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn" src="{{'about/about-01.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-6 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-6 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>