==
<div class="container">
	<div class="text-center">
		<a href="#"><h1><b>Measuring Technologies</b></h1></a>
		<p>The quality, the performance and the security are own concern, LECO with its partnership and suppliers, will always propose to their Clients the best advanced technology services.</p>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="gallery-block grid-gallery">
				{% content 'measuring-en' %}
			</div>
		</div>
		<div class="col-sm">
			<div class="gallery-block grid-gallery">
			    <div class="row">
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-02.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn" src="{{'about/about-02.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-01.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn" src="{{'about/about-01.jpg'|media}}">
			            </a>
			        </div>
			        <div class="col-md-4 item">
			            <a class="lightbox" href="{{'about/about-03.jpg'|media}}">
			                <img class="img-fluid scale-on-hover wow zoomIn float-right" src="{{'about/about-03.jpg'|media}}">
			            </a>
			        </div>
			    </div>
			    <div class="float-right font-italic">*Non-contractual photo*</div>
			</div>
		</div>
	</div>
</div>